<div class="container" ng-controller="ArticlesCtrl">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ article.title }}</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">{{ article.title }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr>
            <p><i class="fa fa-clock-o"></i> Posted on {{ article.posted | date:'MM/dd/yyyy h:mma' }}</p>
            <hr>
            <img ng-if="article.content.image" class="img-responsive" src="{{ article.content.image }}" alt="">
            <br />

            <p ng-repeat="paragraph in article.content.paragraphs track by $index">{{ paragraph }} </p>

            <hr>
            <div class="news-tags">
                <ul>
                    <li ng-repeat="tag in article.content.tags">
                        <span class="badge">{{ tag }}</span>
                    </li>
                </ul>
            </div>
            <div class="well clearfix">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="pull-right btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!--TODO: Add comments in db. Show the first 10 comments - limitTo 10 filter-->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="assets/images/default-user-profile.png" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Lorem Ipsum
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>
</div>